a {
  display: block; /* теперь ссылка занимает всю ширину родителя и расположена на новой строке */
}

p {
  display: inline; /* абзац займёт ровно те размеры, которые нужны для контента внутри, и окажется на одной строке с другими строчными элементами */
}

p {
  display: inline-block; /* абзац окажется на одной строке со строчными и блочно-строчными элементами, но ему можно задать ширину и высоту */
}

p {
  display: inline-block;
  vertical-align: top;
}

div {
  width: 300px;
  height: 200px;
}

div {
  border: 1px solid red; /* сплошная граница в 1 пиксель красного цвета */
}

div {
  margin-top: 20px; /* расстояние до верхнего соседа */
  margin-right: 20px; /* расстояние до правого соседа */
  margin-bottom: 20px; /* расстояние до соседа снизу */
  margin-left: 20px; /* расстояние до соседа слева */
}

/* Сокращённая запись того же самого */

div {
  margin: 50px;
}

div {
  margin-left: auto;
  margin-right: auto;
}

/* Сокращённая запись */

div {
  margin: 0 auto;
}

div {
  padding-top: 20px; /* расстояние от верхней границы до содержимого */
  padding-right: 20px; /* расстояние от правой границы до содержимого */
  padding-bottom: 20px; /* расстояние от нижней границы до содержимого */
  padding-left: 20px; /* расстояние от левой границы до содержимого */
}

/* Сокращённая запись */

div {
  padding: 20px;
}

div {
  box-sizing: border-box; /* задали box-sizing */
  width: 300px; /* ширина блока */
  height: 200px; /* высота блока */
  border: 2px solid blue; /* граница не влияет на размер */
  padding: 20px; /* отступ не растягивает блок */
}

/* Свойства текста и шрифта
А теперь давайте повторим базовые CSS-свойства (собрали только самые основные, вообще их гораздо больше). Их важно знать, поскольку они станут основой для более сложных концепций.
Текст
color — цвет текста. Можно задать ключевыми словами, HEX-кодом, в RGB- или RGBA-палитре.
text-align — выравнивание текста внутри блока: по левому краю left, по правому right, по центру center.
text-decoration — оформление текста. Часто используют подчеркнутый текст underline и неоформленный none.
text-transform — перевод текста в верхний uppercase или нижний lowercase регистр.
Шрифт
font-family — семейство шрифтов. Работает только со шрифтами, которые есть на устройстве пользователя. Можно перечислять шрифты через запятую, чтобы браузер искал среди них установленный.
font-size — размер шрифта.
font-weight — начертание: полужирное bold, обычное normal и тонкое lighter. */

/* Свойства фона
Эти свойства фона вам обязательно пригодятся, поэтому напомним, что там к чему:
background-color — цвет фона. Можно задать словами, HEX-кодом, в RGB- или RGBA-палитре.
background-image — фоновое изображение. Ссылка на ресурс задаётся внутри параметра url(): */
div {
  background-image: url(путь_к_изображению);
}
/* background-size — размер фона. Часто используют значения:
contain — фоновое изображение целиком вписывается в блок;
cover — фон накрывает блок. */

/* Свойство contain умещает изображение целиком, но оставляет поле. А свойство cover — наоборот, не оставляет полей, но обрезает изображение.
background-position — расположение фона по вертикали и горизонтали. Можно задать его позицию словами:
left, center и right для горизонтального выравнивания;
top, center и bottom для вертикального. */

div {
  background-position: center top; /* изображение центрировано по горизонтали, 
  верхний край фона прижат к верхней границе */
}
